.banner {
  .basic-box();
  height: 220px;
  position: relative;

  .background, .showcase {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .background {
    background-size: 100%;
    filter: blur(20px);
    opacity: 0.8;
    z-index: 300;
  }

  .showcase {
    z-index: 400;

    .artist-thumbnail {
      height: 180px;
      margin-top: 20px;
    }

    .information {
      margin-top: 70px;
    }
  }
}
