.banner {
  .showcase {
    margin-left: 30px;

    .artist-thumbnail {
      margin: 0 15px;

      .thumbnail { font-size: 46px;   }
      .glyphicon { line-height: 250%; }
    }

    .artist-thumbnail, .artist-thumbnail .thumbnail {
      height: 130px;
      width: 130px;
    }

    img {
      height: 100%;
    }

    .information {
      padding-top: 40px;

      h2 { margin-bottom: 0; }
      h2, h3 { margin-top: 0; }
    }
  }
}
