.navbar {
  .basic-box();
  height: 43px;
  position: relative;

  a {
    color: lighten(@dark-grey, 15.1%);
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    text-decoration: none;
    word-spacing: nowrap;

    &.active, &:hover {
      border-bottom: 3px solid @smooth-purple;
      color: @smooth-purple;
    }

    .glyphicon { letter-spacing: 12px; }
  }

  .bubble {
    background: white;
    border-radius: 3px;
    border: 1px solid @thiner-grey-blue;
    display: none;
    height: 43px;
    width: 360px;
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 400;

    &::before {
      border-color: @thiner-grey-blue transparent;
      border-style: solid;
      border-width: 0 14px 14px;
      content: "";
      display: block;
      position: absolute;
      bottom: auto;
      right: 10px;
      left: auto;
      top: -14px;
      width: 0px;

    }

    &::after {
      border-color: @white transparent;
      border-style: solid;
      border-width: 0 13px 13px;
      content: "";
      display: block;
      position: absolute;
      bottom: auto;
      right: 11px;
      left: auto;
      top: -13px;
      width: 0px;
    }

    .button {
      height: 25px;
      padding: 2px 10px;
    }

    input[type="text"] {
      height: 15px;
      width: 280px;
    }
  }
}
