.options {
  height: 30px;
  margin-right: 10px;
  padding-top: 0;
}

div.music, div.video {
  .options-toggler {
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    right: 10px;
  }
}

li.music, li.video {
  .options {
    display: none;
    float: left;
  }
}

// Make sure that the option icons aren't out of the
// box for video items as the line height is much bigger
// and also make sure that flat_buttons are in the middle
// of the line.
li.video .options {
  margin-top: 14px;
  line-height: @li-music-height;
}
