.set.box {
  margin: 20px 20px 20px 28px;

  &:first-child {
    margin-top: 0;
  }

  .count {
    color: lighten(@base-color, 10%);
    font-weight: 200;
  }

  &.soundcloud, &.local {
    height: 300px;
  }

  &.local, &.soundcloud {
    .music img { width: @li-music-height!important; }
  }

  &.local {
    .video img { width: @li-music-height!important; }

    .video {
      height: 30px;
      line-height: 2em;
      padding: 10px 5px;

      img { margin-top: 10px; }
      .thumbnail { height: 30px; }
    }
  }

  .cover {
    display: flex;
    float: left;
    height: 300px;
    width: 300px;
    position: relative;
  }

  img {
    display: block;
    float: left;
  }

  &.local .cover img {
    width: 300px;
    margin: auto;
  }

  h2 {
    margin-top: 2px;
  }

  h3 { margin-bottom: 12px; }

  .items {
    .scroll-bar(@darkest-purple, @white);
    .media-fields();
    overflow-y: scroll;

    ul {
      list-style-type: none;
      margin-top: 0px;
      padding: 0 20px 0 0;

      li:last-child {
        border: 0;
        padding-bottom: 0;
      }
    }
  }

  &.soundcloud .items, &.local .items {
    height: 300px;
    margin-left: 350px;
  }

  &.youtube .items {
    margin-left: 20px;
  }

  &.youtube .information {
    padding: 0;
    margin-top: 0;
    height: 70px;
    border-bottom: 1px solid @light-purple;

    img { height: 70px; }
    h2  { margin-top: 0px; }
  }

  &.youtube .legend {
    margin-left: 135px;
  }
}
