.artist-thumbnail {
  color: @base-color;
  display: block;
  float: left;
  height: 245px;
  width: 180px;
  margin: 0 20px 20px 30px;
  text-align: center;

  .thumbnail {
    background: @light-purple;
    border: 1px solid @smooth-purple;
    border-radius: 100%;
    box-shadow: 0 1px 1px fade(@darkest-purple, 20%);
    color: @smooth-purple;
    height: 180px;
    width: 180px;
    margin: auto;
    overflow: hidden;
    font-size: 70px;
    margin-bottom: 0.2em;

    img { height: 180px; }

    .glyphicon { line-height: 230% };
  }
}

.playlist-thumbnail {
  .box();
  cursor: pointer;
  float: left;
  margin: 0 20px 20px 20px;
  width: 250px;

  h3, h4     { margin: 0 0 0.2em 0; }
  h4         { color: silver; }
  .legend    { padding: 0px 10px 10px 10px; }
  .glyphicon { font-size: 12px; }

  img {
    -webkit-transition: opacity 0.3s ease-in-out;
    width: 250px;
    height: 141px;
  }

  &:hover img {
    opacity: 0.7;
  }
}
