<h2>{{t 'meta.error'}}</h2>

<p>{{t 'sc.feedback.invalid_path'}}</p>

<form data-service="soundcloud">
  {{input 'download' 'soundcloud' true}}

  <hr>

  <input type="submit" class="save button" value="{{t 'meta.configuration.save'}} &raquo;">
</form>
