<div class="soundcloud music bar">
  <div class="thumbnail">
    <img src="{{ icon }}">
  </div>

  <h3>{{ title }} ({{ human_time }})</h2>
  <h4>{{ artist }}</h4>

  <div class="clearer"></div>
</div>
