.DS_Store
npm-debug.log*

# Ignore NPM dependencies folder
node_modules

# Optional npm cache directory
.npm

# Ingore the Yarn lock file
yarn.lock

# Ignrore the compiled CSS file
assets/stylesheets/default_theme.css
