.container {
  .scroll-bar(@smoothy-purple, @light-grey);

  color: @base-color;
  min-height: ~"calc(100% - 120px)";
  max-height: ~"calc(100% - 120px)";
  margin: 0 0 0 250px;
  padding-top: 11px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;

  .content {
    height: 100%;
  }

  h1 {
    border-bottom: 1px solid @light-purple;
    color: @smooth-purple;
    margin-left: 28px;
    margin-right: 20px;

    &:first-child { margin-top: 0px; }
  }

  hr {
    border: 0;
    border-bottom: 1px solid @light-purple;
  }
}
