.sidebar {
  .scroll-bar(fade(black, 60%), transparent);

  background: linear-gradient(135deg, @pink 0%, @smooth-purple 51%, @dark-purple 100%);
  color: white;
  border-right: 1px solid fade(@dark-purple, 20%);
  text-shadow: 1px 1px fade(@dark-purple, 20%);
  float: left;
  height: 100%;
  width: 250px;
  overflow-x: hidden;
  position: fixed;

  a {
    color: white;
    display: block;

    &.active {
      background: fade(white, 15%);
    }
  }

  h3 {
    color: white;
    cursor: pointer;
    margin: 0 0 10px 0;
    padding-left: 40px;
  }

  .empty {
    height: 43px;
    width: 100%;
    -webkit-app-region: drag;
  }

  nav {
    margin-bottom: 0px;

    a {
      max-width: 100%;
      overflow: hidden;
      padding: 12px 0 12px 20px;
    }

    &:last-child { margin-bottom: 65px; }

    .glyphicon {
      font-size: 10px;
      letter-spacing: 10px;
    }
  }

  h3.soundcloud {
    background-image: url(../images/icons/soundcloud.svg);
    background-position: 10px 7px;
    background-repeat: no-repeat;
  }

  h3.youtube {
    background-image: url(../images/icons/youtube.svg);
    background-position: 10px 1px;
    background-repeat: no-repeat;
  }

  h3.local {
    background-image: url(../images/icons/local.svg);
    background-position: 10px 0;
    background-repeat: no-repeat;
  }

  hr {
    border: 0;
    border-top: 1px solid fade(@dark-purple, 20%);
    margin-top: 0;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }
}
