{{#if downloads}}
  <h1>{{t 'meta.dashboard.downloads'}}</h1>

  {{#each downloads}}
    {{download_box this}}
  {{/each}}
{{/if}}

{{#if history}}
  <h1>{{t 'meta.history'}}</h1>

  {{#each history}}
    {{download_box this}}
  {{/each}}
{{/if}}
