.scroll-bar(@thumb-color, @track-color) {
  &::-webkit-scrollbar-track {
    border-bottom: 0px;
    background: @track-color;
  }

  &::-webkit-scrollbar-thumb {
    background: @thumb-color;
    border-radius: 5px;
    border: 1px solid fade(@white, 90%);
  }
}

.media-details() {
  .title, .artist {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artist {
    color: silver;
  }
}
