.scroll-bar(@thumb-color, @border-color) {
  &::-webkit-scrollbar-track {
    border-bottom: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: @thumb-color;
    border-radius: 20px;
    border: 1px solid @border-color;
  }
}

.media-fields() {
  .title, .artist {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .artist, .artist a {
    color: silver;
  }
}

.navbar() {
  a {
    color: @dark-grey;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0px 20px;
    position: relative;

    &.active, &:hover {
      border-bottom: 3px solid @smooth-purple;
      color: @smooth-purple;
    }
  }
}
