{{local_files_menu 'artists'}}

{{#each artists}}
  <a href="local/artist" class="artist-thumbnail" data-id="{{ name }}">
    <div class="thumbnail">
      {{g 'user'}}
    </div>

    <span class="title">{{ name }}</span>
  </div>
{{/each}}

<div class="clearer"></div>
