{{local_files_menu 'artists'}}

{{#each artists}}
  <div class="artist">
    <div class="thumbnail">
      {{g 'user'}}
    </div>

    <span class="title">{{ name }}</span>
    <span class="artist">{{ album_count }} albums</span>
  </div>
{{/each}}

<div class="clearer"></div>
