<div class="navbar">
  <div class="right">
    <a href="#" id="new_playlist">
      + {{t 'meta.add'}}
    </a>

    <div class="bubble">
      <form id="add_playlist">
        <input type="text" name="title" placeholder="{{t 'meta.title'}}...">
        <input type="submit" value="+" class="button">
      </form>
    </div>
  </div>
</div>

{{#each playlists}}
  {{playlist this}}
{{/each}}
