<div class="sign-in box">
  <h3>{{t 'yt.connect_message'}}</h3>
  <h4>{{t 'yt.connect_sub_message'}}</h4>

  <span data-action="youTubeSignIn" class="button">
    <img src="assets/images/icons/youtube.svg"> {{t 'yt.connect'}}
  </a>
</div>
