<div class="playpause">
  {{g 'play'}}
</div>

<div class="timing">
  <span class="current">0:00</span> / <span class="total">0:00</span>
</div>

<div class="duration"></div>

<div class="fullscreen-switch">
  {{g 'fullscreen'}}
</div>
