<div class="box connection soundcloud">
  <h3>{{t 'sc.connect_message'}}</h3>
  <h4>{{t 'sc.connect_sub_message'}}</h4>

  <span data-action="soundCloudSignIn" class="button">
    <img src="assets/images/icons/soundcloud.svg"> {{t 'sc.connect'}}
  </a>
</div>
