{{#unless token}}
  {{menu 'soundcloud' 'playlists' 'liked_playlists'}}
{{/unless}}

{{#each liked_playlists.collection}}
  {{set_box this}}
{{else}}
  <div class="message">{{t 'sc.feedback.no_liked_playlists'}}</div>
{{/each}}
