{{#unless token}}
  {{menu 'soundcloud' 'playlists' 'user_playlists'}}
{{/unless}}

{{#each user_playlists.collection}}
  {{set_box this}}
{{else}}
  <div class="message">{{t 'sc.feedback.no_owned_playlists'}}</div>
{{/each}}
