<div class="progress_bar">
  <div class="track">
    <div class="buffered"></div>
    <div class="progression"></div>
  </div>
</div>

<input type="range" class="circle" min="0" value="0" step="0.01">
